@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Cutive+Mono&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Life+Savers:wght@400;700;800&family=Marcellus&family=Nixie+One&family=Ojuju:wght@200..800&family=Pompiere&family=Scope+One&family=Slabo+27px&family=Text+Me+One&family=Zen+Loop:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Wellfleet&display=swap);
html,
body {
  margin: 0;
  height: 100%;
  background: "#38598b";
}
a {
  text-decoration: none;
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 40vw;
  min-height: 650px;
  max-height: 550px;
  min-width: 300px;
  color: #290416;
  border-radius: 0 0 20px 20px;
}
.header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.header:before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  scale: (1, 1);
  transform: translateZ(0);
  background: url(ocean.jpg) 100% 0 no-repeat;
  background-size: 100%;
  background-attachment: fixed;

  z-index: -2;
}
.header a {
  color: #eee;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.2) translateY(-400px);
  }
}
.content {
  padding: 5% 10%;
  text-align: justify;
}
