@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Cutive+Mono&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Life+Savers:wght@400;700;800&family=Marcellus&family=Nixie+One&family=Ojuju:wght@200..800&family=Pompiere&family=Scope+One&family=Slabo+27px&family=Text+Me+One&family=Zen+Loop:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Wellfleet&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&family=Rubik+Doodle+Shadow&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Englebert&family=Playwrite+DE+Grund:wght@100..400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Englebert&family=Kedebideri:wght@400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100..400&display=swap);
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #fff;
  font-family: "Scope One";
  color: #290416;
}

.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 160px;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 160px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 800px) {
  #main {
    margin-left: 0;
  }
}

.w3-bar-item {
  color: #fff;
  text-decoration: none;
  font-family: "Pompiere", sans-serif;
  letter-spacing: 1px;
  font-size: x-large;
  font-weight: bolder;
}

.w3-bar-item:hover {
  color: #4cdef8;
  font-size: x-large;
}
